<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>AuthoristaionFilter</filter-name>
        <filter-class>servlets.AuthoristaionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthoristaionFilter</filter-name>
        <url-pattern>/restricted/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>servlets.AddCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCustomerServlet</servlet-name>
        <servlet-class>servlets.LoginCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutCustomerServlet</servlet-name>
        <servlet-class>servlets.LogoutCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductAndQuantityServlet</servlet-name>
        <servlet-class>servlets.AddProductAndQuantityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>servlets.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyServlet</servlet-name>
        <servlet-class>servlets.BuyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/AddCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCustomerServlet</servlet-name>
        <url-pattern>/LoginCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutCustomerServlet</servlet-name>
        <url-pattern>/LogoutCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductAndQuantityServlet</servlet-name>
        <url-pattern>/AddProductAndQuantityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyServlet</servlet-name>
        <url-pattern>/BuyServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>401</error-code>
        <location>/CustomerLogin.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/OtherError.jsp</location>
    </error-page>
    <error-page>
        <exception-type>domain.InputValidationException</exception-type>
        <location>/InvalidInput.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.NumberFormatException</exception-type>
        <location>/InvalidNumberError.jsp</location>
    </error-page>
    <error-page>
        <exception-type>dao.InputValidationException</exception-type>
        <location>/InvalidInput.jsp</location>
    </error-page>
</web-app>
